////
/// @group settings/typography
////

/// List of font families to use if using NTA (the default font 'stack' for
/// GOV.UK)
///
/// @type List
/// @access public

$govuk-font-family-nta: "govuk-font", Arial, sans-serif;

/// List of font families to use if using the 'tabular numbers' subset of NTA
/// (the default font 'stack' for GOV.UK)
///
/// Because ntatabularnumbers only includes the digits 0-10, all other glyphs
/// will 'fall-through' the stack to NTA.
///
/// @type List
/// @access public

$govuk-font-family-nta-tabular: "noop", $govuk-font-family-nta;
